<template>
    
    <div class="home">
      |<!---uses home page styling -->
       |<!--- film and tv-->
     <h1 class="film">Film and Television</h1>
        |<!---get category -->
        <section  v-for="cat of info.data.category" :key="cat.id">
           |<!--- if statement for category to display -->
          <div class='grid-container' v-if="cat.name == 'film'">
             |<!--- loop through articles -->
          <article  class='article' v-for="art of cat.article" :key="art.id">
             |<!---@ click and function to articles, through article id -->
              <div class='click' @click="anArticle(art.id)">
           <img :src="art.image" :alt="art.imgalt">
            <div  class='text' >
               |<!--- get title and short-->
               <h2>{{art.title}}</h2>
              <p>{{art.short}}</p>
            </div>
                </div>
          </article>
          </div>
          </section> 
         
    </div>
</template>

<script>
//import axios
import axios from "axios"
export default {
    name: 'ft',
    /*click on article display article */
    methods: {
        anArticle(id) {
            this.$router.push('/article/' + id)
        }
    },

    /* variables*/
    data() {
        return {
        info : ""
}
},

/* call json file for display*/
   async created() {
     
    try {
     const response = await axios.get("../../blog.json")
     this.info = response
   } catch(e) {
      console.error(e);
    }
  }
}
</script>



<style>
/* styling mostly inherited from home or app vue*/
h2 {
  text-decoration: none;
}

 

</style>