<template>
<!-- home view-->
<div class="home">
    <div class='mobile'>
    <h1 class='home1'>Home</h1>
    <div>
        <section  v-for="cat of info.data.category" :key="cat.id">
            <h2 class="category">{{cat.title}}</h2>
            <div class='grid-container'>
              <!--article able to be clicked on using @click and a function-->
              <!-- loop through json to get articles-->
            <article  class='article'  v-for="art of cat.article" :key="art.id">
        <div class='click' @click="anArticle(art.id)">
           <img loading=lazy :src="art.image" :alt="art.imgalt">
            <div  class='text' >
              <!-- get articles title and short for poloroid -->
               <h2>{{art.title}}</h2>
              <p>{{art.short}}</p>
            </div>
            </div>
          </article>
            </div>
          </section>
    </div>
    </div>
</div>
</template>

<script>
//import axios
import axios from "axios"

export default {
  //name called for router
    name: 'home',
    //method for calling an article when clicked
    methods: {
        anArticle(id) {
            this.$router.push('/article/' + id)
        },
    
    },
    //varibles
    data() {
        return {
        info : "",
}
},

//call for json data
   async created() {
     
    try {
     const response = await axios.get("../../blog.json")
     this.info = response
   } catch(e) {
      console.error(e);
    }
  }
}
</script>

<style>

h1 {
    margin-left: 2rem;

}

/*container for articles */
.grid-container {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 grid-template-rows: repeat(1fr 1fr 1fr);

}

/* categories styled*/
.category {
 font-family: 'Quicksand';
  padding-left: 2rem;
  text-decoration: none;
  color: rgb(41, 110, 122);


}

/* text spacing measurements added*/
h2 {
  font-size: 1.5rem;
  letter-spacing: .18rem;
  word-spacing: .24rem;
}
/*polaroid article styling */
.article {
background: linear-gradient(180deg, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%), #E9E9E9;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
border-radius: 4px;
display: grid;
grid-template-rows: 1fr auto;
font-family: 'Quicksand', sans-serif;
padding: 1rem;
margin: 1rem;
}

/*text spacing measurements */
.article h2 {
    font-size: 1em;
    word-spacing: 0.16em;
    letter-spacing: 0.12em;
}
/* img in polaroid*/
img {
   width: 100%;
   place-self: center;
   border-radius: 3px;
}
.article h2,p{
 margin: 1rem;

}

/*text spacing  */
p {
    padding-bottom: 1rem;
    font-size: 1em;
}
/*text spacing */
.text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    word-spacing: 0.16em;
    letter-spacing: 0.12em;
}

/*text spacing */
 .home h1 {
     font-family: 'Playfair Display', serif;
     text-decoration: none;
     
     color: rgb(16, 55, 82);
     margin-top: 0.3rem;
     font-size: 4vh;
     word-spacing: .64vh;
     letter-spacing: .48vh;
 }
 /* animation for user feedback*/
.article:hover {
animation-name: pulse;
animation-duration: 4s;

}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


</style>