<template>
    <div class="home">
      <!--societies and avtivities page -->
    <h1 class="sa">Societies and Activities</h1>
     <!--catergory, loop through, if socieities and avtivities
     display those articles.
     click on an article and function is called and article is displayed
      -->
             <section  v-for="cat of info.data.category" :key="cat.id">
          <div class='grid-container' v-if="cat.name == 'saa'">
          <article  class='article' v-for="art of cat.article" :key="art.id">
             <div class='click' @click="anArticle(art.id)">
           <img :src="art.image" :alt="art.imgalt">
            <div  class='text' >
               <h2>{{art.title}}</h2>
              <p>{{art.short}}</p>
            </div>
            </div>
          </article>
          </div>
          </section> 
    </div>
</template>

<script>
//import axios
import axios from "axios"
export default {
    name: 'sa',
    //an article called push articl id
        methods: {
        anArticle(id) {
            this.$router.push('/article/' + id)
        }
    },
    //variables
    data() {
        return {
        info : ""
}
},

//call data from json file using axios
   async created() {
     
    try {
     const response = await axios.get("../../blog.json")
     this.info = response
     console.log(this.info)
   } catch(e) {
      console.error(e);
    }
  }




}
</script>


<style>
/*styling in home and app vue*/ 
</style>