<template>

  <div id="app">
    <!-- Header for the page, nav bar title and page name.  -->
    <div class='header'>
    <div class='title'>
      <!-- Page title links to home -->
       <router-link to="/"> 
       <h1> Student Edge</h1>
        </router-link>  
        <!-- Navigation burger menu button -->
      <input class='menu-btn' type="checkbox" id="menu-btn" v-model="checkBoxVal">
      <label class='menu-icon' for="menu-btn"><span class='nav-icon'></span></label>
      <!-- Navigation links. routed in router file-->
     <ul id="nav" class='menu'>
       <li  @click="uncheck" ><router-link to="/">Home</router-link> </li>
       <li @click="uncheck"><router-link to="/ft" >Films and Television</router-link></li>
       <li @click="uncheck"><router-link to="/ttd">Things To Do...</router-link></li>
       <li @click="uncheck"><router-link to="/sa">Societies and Activities</router-link></li>
       <li @click="uncheck"><router-link to="/uh">University Hacks</router-link></li>
      </ul>
    </div>
  
      </div>
    <main>
     <router-view/>
    </main>
   <!--Footer -->
   <div class='footer'>
    <p>
      This website is part of a final year university project. I do not own any of the images included in this site.
      </p>
      <p>
      All text content on the site was written by Toyin Martins. 
    </p>
   </div>
  </div>
</template>
<script>
//import axios
import axios from "axios"
export default {
//data, define variables
  data: function() {
    return {
      info: "",
      checkBoxVal: false,
    }

  },
//methods, for menu button if someone clicks on a link the menu collapses
  methods: {
   uncheck() {
     this.checkBoxVal = false;
     console.log('click')
   }
  },
/* request for json data 
info is defined in data and stores the request data
the information is then displayed in the html using a for loop */
   async created() {
    try {
     const response = await axios.get("../../blog.json")
     this.info = response
   } catch(e) {
      console.error(e);
    }
  },
}

</script>
<style>

/*importing all font styles  */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Judson&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* any margin or padding removed from 
the body so the title takes up the whole screen width*/
body {
  margin: 0%;
  padding: 0%;
  
}

/*ensure no gaps */
#app {
  width: 100%;
}

/* titles consists of magazine name and the menu button and navigation
grid template used for title
*/
.title {
  background-color: rgb(1, 31, 37);
  color: rgb(255, 255, 255);
  margin: 0%;
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 1fr;
  font-family: 'Staatliches', cursive;
  font-weight: normal;
  font-style: normal;
  box-shadow: inset 0rem 0rem  1rem .2rem black;
  font-size: 3vh;
}

/* for title linked to home page and the nav links, no decoration  */
  .title a {
  color: rgb(255, 255, 255);
  text-decoration-style: none;
}
   .title h1 {
  text-decoration: none;
  place-self: center;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
/* navigation styling*/
#nav {
  font-family: 'Quicksand', sans-serif;
  padding:0%;
  text-decoration: none;
  font-size: 1rem;
  word-spacing: 0.16rem;
  letter-spacing: .12rem;
}
#nav a {
  text-decoration: none;
}
/*styling for active naviagation */
#nav a.router-link-exact-active {
  font-style: italic;
  padding-bottom: 0.2rem;
  border-bottom: #ff8800 2px solid;
}
/* hover styling for link recognition*/
#nav a:hover {
  border-bottom: #2a7da3 2px solid;
}
 h2{
 text-decoration: underline;
}

/* footer styled in lighter blue using font from page*/
.footer {
  font-family: 'Quicksand';
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1D6575;
  color: white;
  margin-top: 10rem;
}
/*menu button styling  */
ul{
  overflow: hidden;
}
/* Menu elements*/ 

.menu li {
    padding-bottom: 2rem;
    display: block;
    margin-left: 2rem;
    overflow: hidden;
    color: #ffffff;
}


.menu {
  clear: both;
  max-height: 0;
  transition: min-height .2s ease-out;
  z-index: 3;
}

.menu-icon {
 padding: 28px 20px;
 position: relative;
 float: right;
 place-self: center;
 margin-top: 1.5rem;
}
.menu-icon .nav-icon {
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 25px;
  background-color: white;
}

/* checkbox styling to use burger menu */ 
.menu-btn {
  display: none;
}
/* adding two lines below and above the first line*/ 
 .menu-icon .nav-icon:before,
.menu-icon .nav-icon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
/* distance from middle line */ 
.menu-icon .nav-icon:before {
  top: 8px;
}

.menu-icon .nav-icon:after {
  top: -8px;
}

/* when checked, menu covers whole page
burger menu turns into an X*/ 
 .menu-btn:checked ~ .menu {
  min-height: 100vh;
}

 .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

 .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}
/* responsive design to ensure the display in different devices works accordingly, 
menu button included and removed if device is a certain site */ 
@media (min-width: 48em) {
  .header li {
    float: left;
    
  }
  .header li a {
     color:#1D6575;
     padding: 1rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    font-size: 1rem;
    margin: 0%;
    border: white solid 1rem;
  }
  .header .menu-icon {
    display: none;
  }
}
/*animation for page */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -3%, 0);
    transform: translate3d(0, -3%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


section {
  animation-name: fadeInDown;
  animation-duration: 1.4s;
}
</style>
